<!DOCTYPE html>
<head>
  <title>Create Group</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" charset="utf-8"></script>
</head>
<body>
  <div class=".container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action = "/groupPage/" method = "post">
          <label for="groupName">Group Name:</label><br>
          <input type="text" id = "groupName" placeholder = "Group name" /><br>

          <label for="groupDesc">Group Description:</label><br>
          <input type="text" name="groupDesc" placeholder="Group description"><br>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>
