/* NAVBAR */

.navbar{
    padding: 30px;
    transition: 1s;
}

.navbar.scroll{
    background: rgb(183, 56, 225);
}
.navbar-brand{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    padding-left: 140px;
    font-size: 50px;
    text-transform: capitalize;
    color: rgb(255, 255, 255) !important;
}
        
.navbar-nav{
    padding-left: 300px;
}
        
.nav-link{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 255, 255) !important;
    margin-left: 5px;
    transition: 0.6s;
    border-radius: 30px;
    text-transform: capitalize;
}
        
.nav-link:hover{
    transform: translateY(-20px);
    background: rgb(183, 56, 225);
}

/* Header */

header{
    margin: 0;
    padding: 0;
}

.header .img-parent{
    position: relative;
}

.header img{
    height: 100vh;
    width: 100%;
}

.header .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0.5;
}

.header .img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,
    -50%);
    z-index: 2;
    color: #fff !important;
    text-align: center !important;
    justify-content: center !important;
}

.header .img-content h2{
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 20px !important;
}

.header .img-content span{
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.2px;
}

/*Event Section Start*/

.event{
    margin: 200px auto;
}


.event-content{
    box-shadow: 10px 10px 10px 
    -10px rgba(0,0,0,0.3) , 
    inset 10px 10px 10px -10px 
    rgba(0,0,0,0.5);
    padding: 10px;
    cursor: pointer;
    background: #fff !important;
    margin-top: -70px !important;
    margin-left: 20px !important;
    position: absolute;   
}

.event-content h4{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
}

.event-content span{
    font-style: italic;
    font-size: 15px;
}

.event-content a{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px !important;
}

.event img{
    transition: 0.6s;
}

.event img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.event .col-sm-5{
    margin-bottom: 200px !important;
}

/* Footer */
footer{
    background: rgb(183, 56, 225);
    padding: 150px;
}

footer h6{
    font-weight: bold;
    color: #fff !important;
    font-style: italic;
    margin-bottom: 20px !important;
}

footer span{
    font-weight: bold;
    color: #ccc !important;
    font-style: italic;
    font-size: 10px !important;
}

footer input{
    margin: 20px auto !important;
}