<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Groups</h1>

    <div class="container-fluid">
      <% let counter = 0;%>
      <% let rowClosed; %>
      <% groups.forEach((group) => { %>
         <%# if we hit a 6th item, create a new row  %>
        <% if (counter % 5 == 0) { %>
        <div class="row justify-content-center">
          <% rowClosed = false; %>
        <% } %>
        <%# start of group card   %>
          <div class="col-sm">
            <div class="card mb-3" style="width: 18rem; height: 15rem">
              <div class="card-body">
                <h2 class="card-title"><%=group.group_name%></h2>
                <p class="card-text"><%=group.group_desc%></p>
                <form action="/groupMenuPage" method="post">
                  <input type="text" name="group_id" style="display:none" value=<%=group.group_id%>>
                  <button type="submit" name="button" class="btn btn-primary btn-block">Join</button>
                </form>
              </div>
            </div>
          </div>
          <% if (counter % 5 == 4) {%>
            <% rowClosed = true %>
        </div>
          <%}%>
          <% counter++; %>
      <%});%>
    </div>
  </body>
</html>
