<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Home Page</title>
    <!--Bootstrap & Icons-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

    <!-- side & navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6200EE">
        <div class="container-fluid">
            <div class="d-flex justify-content-start">
                <!-- side bar toggler -->
                <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                    <i class="bi bi-list" style="color:#e8e8e8" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                </button>
                <a class="navbar-brand" href="#" style="color:#e8e8e8">
                    <!---
                      <i class="bi bi-house-fill" style="float:left; color:#e8e8e8"></i>
                    --->
                    Home
                </a>
            </div>
            <div class="d-flex justify-content-end">
                <a href="">
                    <i class="bi bi-geo-alt-fill" style="float:right; color:#e8e8e8"></i>
                </a>
                <a href="">
                    <i class="bi bi-bell-fill" style="float:right; color:#e8e8e8"></i>
                </a>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false" style="max-width: 250px;margin-top:55px">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">Menu</h6>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link text-truncate">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">Personal Information</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link text-truncate">
                        <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Course History</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End side & navbar -->

    <div id="siteContainer" class="row" style="padding-top: 50px">
        <!-- Spacer to the left of Boards-->
        <div id="leftSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
        <!--Container for Boards-->
        <div id="boardContainer" class="col-sm-12 col-md-6 col-lg-6">
            <div id="groupCard" class="card">
                <div id="groupName" class="card-header">
                    Group Name
                </div>
                <div id="boardList" class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <!--Right Event Container (visible for medium & up)-->
        <div id="eventContainer" class="col-sm-0 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    Events
                </div>
                <div id="eventCardBody" class="card-body">
                    <div id="eventList" class="list-group">

                    </div>
                </div>
            </div>
        </div>
        <!-- Spacer to the Right of Events-->
        <div id="rightSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
    </div>

    <!--Button container -->
    <div id="buttonContainer" class="row">
        <div id="leftButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
        <div id="boardButtons" class="col-sm-12 col-md-6 col-lg-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create Board
            </button>
            <button type="button" class="btn btn-primary">Invite User</button>
            <button type="button" class="btn btn-primary">Edit Board Info</button>
        </div>
        <div id="rightButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Board</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id ="postReq" action = "/addBoard" method = "post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name of board</label>
                            <input type= "text" name = "boardName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Board name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">boardDesc</label>
                            <input type="text" name = "boardDesc" class="form-control" id="exampleInputPassword1" placeholder="Enter Board Desc">
                        </div>
                        <div class="form-group" style = "display: none" style = "visibility: collapse">
                            <input id = "groupID" type="text" name = "groupID" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="group" style = "display: none"><%=group%></div>
    <script src="/js/groupHomePage.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
