<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Home Page</title>
    <!--Bootstrap & Icons-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link type="text/css" rel="stylesheet" href="/css/daterangepicker.css" media="screen,projection"/>
</head>
<body>

<%-include("partials/navAndSidebar")-%>

    <div id="siteContainer" class="row" style="padding-top: 50px">
        <!-- Spacer to the left of Boards-->
        <div id="leftSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
        <!--Container for Boards-->
        <div id="boardContainer" class="col-sm-12 col-md-6 col-lg-6">
            <div id="groupCard" class="card">
                <div id="groupName" class="card-header">
                    Group Name
                </div>
                <div id="boardList" class="card-body">
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <!--Right Event Container (visible for medium & up)-->
        <div id="eventContainer" class="col-sm-0 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-header">
                    Events
                </div>
                <div id="eventCardBody" class="card-body">
                    <div id="eventList" class="list-group">

                    </div>
                </div>
            </div>
        </div>
        <!-- Spacer to the Right of Events-->
        <div id="rightSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
    </div>
<!--    button for creating tags-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTag">
        Create Board
    </button>
    <!-- temp place for sending messages -->
    <form id ="postReq1" action = "/groupPage/1" method = "post">
        <div class="form-group">
            <label for="exampleInputPassword1">Send Message here</label>
            <input type="text" name = "message" class="form-control" id="messageTemp" placeholder="Enter Board Desc">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "emailTemp" type="text" name = "email" class="form-control">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "boardIDTemp" type="text" name = "boardID" class="form-control">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "groupIDTemp" type="text" name = "groupID" class="form-control">
        </div>
        <button type="button" id = "tempForm" class="btn btn-primary">Submit</button>
    </form>

    <!--Button container -->
    <div id="buttonContainer" class="row">
        <div id="leftButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
        <div id="boardButtons" class="col-sm-12 col-md-6 col-lg-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create Board
            </button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventModal">Create Event</button>
            <div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Invite Person</label>
                    <input type="text" name = "inviteEmail" class="form-control" id="inviteEmailInvite" placeholder="Enter email">
                </div>
                <div class="form-group" style = "display: none" style = "visibility: collapse">
                    <input id = "groupIDInvite" type="text" name = "groupID" class="form-control">
                </div>
                <div class="form-group" style = "display: none" style = "visibility: collapse">
                    <input id = "userEmailInvite" type="text" name = "userEmail" class="form-control">
                </div>
                <div class="form-group" style = "display: none" style = "visibility: collapse">
                    <input id = "reqTypeInvite" type="text" name = "reqType" class="form-control">
                </div>
                <button type="button" id = "inviteButton" class="btn btn-primary">Invite User</button>
            </div>
            <button type="button" class="btn btn-primary">Edit Board Info</button>
        </div>
        <div id="rightButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Board</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id ="postReq" action = "/addBoard" method = "post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name of board</label>
                            <input type= "text" name = "boardName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Board name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">boardDesc</label>
                            <input type="text" name = "boardDesc" class="form-control" id="exampleInputPassword1" placeholder="Enter Board Desc">
                        </div>
                        <div class="form-group" style = "display: none" style = "visibility: collapse">
                            <input id = "groupID" type="text" name = "groupID" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Create Event Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id ="postReq" action = "/createEvent" method = "post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name of Event</label>
                        <input type= "text" name = "eventName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Board name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Event Description</label>
                        <input type="text" name = "eventDesc" class="form-control" id="exampleInputPassword1" placeholder="Enter Board Desc">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Set Date and Time</label>
                        <input type="text" name="datetimes" class="form-control" />
                    </div>
                    <div class="form-group" style = "display: none" style = "visibility: collapse">
                        <input id = "eGroupID" type="text" name = "eGroupID" class="form-control">
                    </div>
                    <div class="form-group" style = "display: none" style = "visibility: collapse">
                        <input id = "start" type="text" name = "start" class="form-control">
                    </div>
                    <div class="form-group" style = "display: none" style = "visibility: collapse">
                        <input id = "end" type="text" name = "end" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- INSERT tags/edit -->
<div class="modal fade" id="createTag" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id ="postReq" action = "/createTag" method = "post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tagname</label>
                        <input type= "text" name = "tagname" class="form-control" id="tagnameCreate" aria-describedby="emailHelp" placeholder="Enter tagname">
                        <input type= "text" style = "display: none" name = "groupID" class="form-control" id="groupIDCreate" aria-describedby="emailHelp" placeholder="Enter tagname">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <div id="group" style = "display: none"><%=group%></div>
<!--    <script src= "/socket.io/socket.io.js"></script>-->
<!--    <script> -->
<!--        var socket = io();-->
<!--        let gId = JSON.parse(document.getElementById("group").innerHTML);-->
<!--        socket.on(gId.group.group_id, (inviteRequest) => { userInvited(inviteRequest)});-->
<!--    </script>-->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="/js/groupHomePage.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/daterangepicker.min.js"></script>
<script>
    $(function() {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            startDate: moment().startOf('hour'),
            endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        }, (start, end, label) =>{
            console.log(start + "  " + end);
            $("#start").val(start);
            $("#end").val(end);
        });
    });
    // let groupId = JSON.parse($("#group").html()).group.group_id;
    // let postRoute = $("eGroupID");
    // postRoute.value = groupId;
</script>
</body>
</html>
