<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Page</title>
    <!--Bootstrap & Icons-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>

<%-include("partials/navAndSidebar")-%>

    <div id="siteContainer" class="row" style="padding-top: 50px">
        <!-- Spacer to the left-->
        <div id="leftSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
        <!--Container for Boards-->
        <div id="boardContainer" class="col-sm-12 col-md-10 col-lg-10">
            <div id="groupCard" class="card">
                <div id="groupName" class="card-header">
                    Board Name
                </div>
                <div id="postList" class="card-body">
                </div>
                <!-- Pagination navbar -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" id="prevPageBtn">
                            <a class="page-link" tabindex="-1" id="prevPageAnch" onclick="showPrevious()">Previous</a>
                        </li>
                        <li class="page-item active" id="currentPageBtn">
                            <a class="page-link" id="currentPageAnch"></a>
                        </li>
                        <li class="page-item disabled" id="nextPageBtn">
                            <a class="page-link" tabindex="+1" id="nextPageAnch" onclick="showNext()">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Spacer to the Right-->
        <div id="rightSpacer" class="col-sm-0 col-md-1 col-lg-1"> </div>
    </div>

    <!--Button container -->
    <div id="buttonContainer" class="row">
        <div id="leftButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
        <div id="boardButtons" class="col-sm-12 col-md-6 col-lg-4">
            <button type="button" class="btn btn-primary">Create Board</button>
            <button type="button" class="btn btn-primary">Invite User</button>
            <button type="button" class="btn btn-primary">Edit Board Info</button>
        </div>
        <div id="rightButtonSpacer" class="col-sm-0 col-md-3 col-lg-4"> </div>
    </div>
    <!-- temp place for sending messages -->
    <form id ="createPost" action = "/createPost" method = "post">
        <div class="form-group">
            <label for="exampleInputPassword1">Send Message here</label>
            <input type="text" name = "message" class="form-control" id="messagePost" placeholder="Enter Board Desc">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "emailPost" type="text" name = "email" class="form-control">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "boardIDPost" type="text" name = "boardID" class="form-control">
        </div>
        <div class="form-group" style = "display: none" style = "visibility: collapse">
            <input id = "groupIDPost" type="text" name = "groupID" class="form-control">
        </div>
        <button type="button" id = "formPost" class="btn btn-primary">Submit</button>
    </form>
    <div style = "display: none" id = "data"> <%=data %></div>
    <script type="text/javascript" src="/js/groupBoardPage.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src= "/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on("newMessage", (d)=> {
            //console.log(d);
            onPost(d);
        });
        socket.emit("connection");
    </script>
</body>
</html>
