<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
  <h1>User's Home Page:</h1>
  <table>
      <tr>
        <td><img src="https://media.istockphoto.com/photos/professional-it-technical-support-specialist-and-software-developer-picture-id1316574211" alt="placeholder profile pic" width="200" height="200"></td>
        <td><h3>firstName</h3><h3>lastName</h3></td>
      </tr>
  </table>
  <h4> User bio information here</h4>
  <br>

  <table>
    <tr>
      <td> <input type="submit" name="Create a group" value="Create a group"></td>
      <td> <input type="submit" name="Join a group" value="Join a group"></td>
    </tr>
  </table>

  <br>
  <h2>User's Courses:</h2>
  <table>
      <tr>
        <td><img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="" width="200" height="200"></td>
        <td><img src="https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="" width="200" height="200"></td>
        <td><img src="https://media.istockphoto.com/photos/young-man-yells-at-the-laptop-monitor-hes-got-a-big-problem-picture-id1327991995" alt="" width="200" height="200"></td>
      </tr>
      <tr>
        <td>cs470</td>
        <td>cs460</td>
        <td>cs488</td>
      </tr>
  </table>





</body>
</html>