<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" charset="utf-8"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <title>Login</title>
</head>
<body onload="message()">
  <div class="container-fluid">
    <div class="row align-items-center">
      <h1 class="text-center">Welcome to CubChat</h1>
    </div>
    <div class="row justify-content-md-center">

      <div class="col-2">
        <h3>Login</h3>
        <form action = "/" method = "post">
          <label for="emailInput" class="form-label">Email:</label>
          <input type="email" name="loginEmail" class="form-control" id = "emailInput" hint = "Enter your email here" />
          <label for="passInput" class="form-label">Password:</label>
          <input type="password" name="loginPassword" class="form-control">
          <button type="submit" name="loginBtn" value="logging" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="col-2">
        <h3>Register</h3>
        <form action = "/" method = "post">
          <label for="emailInput" class="form-label">Email:</label>
          <input type="email" name="registerEmail" class="form-control" id = "emailInput" hint = "Enter your email here" />
          <label for="passInput" class="form-label">Password:</label>
          <input type="password" name="registerPassword" class="form-control">
          <label for="firstName">First Name:</label>
          <input type="text" name="first" placeholder="John" class="form-control">
          <label for="lastName">Last Name:</label>
          <input type="text" name="last" placeholder="Wick" class="form-control">
          <button type="submit" name="registerBtn" value="logging" class="btn btn-primary">Register</button>
        </form>
      </div>

    </div>
  </div>
  <div id="login_register_status" style="display:none">
    <%=status%>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
    function message(){
      let status = JSON.parse(document.getElementById("login_register_status").innerHTML).status;
      console.log(status);
      if (status == "register-fail") alert("REGISTER FAILED: Pick a new email");
      else if (status == "register-success") alert("REGISTER SUCCESSFUL!");
      else if (status == "login-fail") alert("LOGIN FAILED: Incorrect Email/Password");
    }
  </script>
</body>
